.splash-page-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    position: relative;
}

.contact-us-link {
    color: rgb(0, 132, 255);
}

.element-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    color: white;
}

.element-container h1 {
    font-size: 3em;
}

.element-container p {
    text-align: center;
    font-size: 2em;
}

.welcome-banner {
    // background-color: rgb(53, 80, 112);
    background-color: #668BB7;
}

.intro-msg {
    background-color: rgb(109, 89, 122);
    position: relative;
}

.intro-title {
    font-family: $sec-font;
}

.intro-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.intro-p {
    margin-top: 5px;
    font-family: $sec-font;
    font-weight: 100;
}


.arrow {
    cursor: pointer;
    bottom: 0;
    position: absolute;
    margin-top: 15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ffffff;
    margin-bottom: 60px;

}

.splash-med-list {
    background-color: rgb(181, 101, 118);
    position: relative;
    display: flex;
    flex-direction: column;
}

.splash-calendar {
    background-color: rgb(234,172,139);
    position: relative;
    display: flex;
    flex-direction: column;
}

.splash-map {
    background-color: rgb(90,170,149);
    position: relative;
    display: flex;
    flex-direction: column;
}

.splash-contact {
    background-color: rgb(134,168,115);
    position: relative;
}

.welcome-container {
    display: block;
    text-align: center;
}

.welcome-to {
    font-size: 50px;
}

.pharmassist-title {
    display: block;
    font-family: $sec-font;
    text-transform: uppercase;
    font-size: 120px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 25px;
    background: #668BB7;
    position: relative;
    animation: text 3s 1;
}

.assist {
    color: rgb(53, 80, 112);
}

.assistant {
    z-index: 2;
    position: absolute;
    height: 379px;
    width: 211.875px;
    bottom: 0;
    margin-bottom: 90px;
    margin-left: 730px;
    opacity: 0;
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    // animation: slidein 3s 2, wait 3s 1;
    
}


@keyframes text {
    0% {
        color: #668BB7;
        margin-top: -50px;
    }
    30% {
        letter-spacing: 20px;
        margin-top: -50px;
    }
    85% {
        letter-spacing: 1px;
        margin-top: -50px;
    }
}

.screenshots {
    width: 40%;
    margin-top: 40px;
    display: inline-block;
}


// .welcome-msg {
//     text-align: center;
//     font-weight: 400;
//     animation: slideup 3s;
//     white-space: nowrap;
//     background: linear-gradient(270deg, rgba(165,183,204,1) 0%, rgba(255,255,255,1) 100%);
//     background-clip: text;
//     -webkit-text-fill-color: transparent;
// }

// .pharmassist-title {
//     font-family: $sec-font;
//     text-transform: uppercase;
//     font-size: 1.5em;
// }

@keyframes fadein {
    from {
        opacity: 0;
        margin-top: 30%;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes wait {
    from {
        opacity: 0;
        
    }

    to {
        opacity: 0;
        
    }
}

@keyframes slidein {
    from {
        opacity: 0;
        
    }

    to {
        opacity: 1;
        
    }
}