.splash-page-container {
    width: 100vw;
}

.splash-about {
    width: 100vw;
    height: 100vw;
    border: 1px solid rgb(0, 0, 0);
}

.splash-med-list {
    width: 100vw;
    height: 100vw;
    border: 1px solid rgb(255, 0, 0);
}

.splash-calendar {
    width: 100vw;
    height: 100vw;
    border: 1px solid rgb(76, 0, 255);
}

.splash-map {
    width: 100vw;
    height: 100vw;
    border: 1px solid rgb(0, 255, 13);
}