.splash-page-container {
    height: 95vh;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}


.element-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 100vh;
    scroll-snap-align: start;
    font-size: 4em;
}

.welcome-banner {
    background-color: rgb(226, 124, 187);
}

.intro-msg {
    background-color: rgb(253, 248, 160);
}

.splash-med-list {
    background-color: rgb(254, 151, 151);
}

.splash-calendar {
    background-color: rgb(192, 165, 255);
}

.splash-map {
    background-color: rgb(151, 255, 156);
}