.close-about-us {
    position: fixed;
    display: inline-block;
    right: 0;
    margin: 30px 30px 0 0;
    font-size: 35px;
    z-index: 3;
    &:hover {
        cursor: pointer;
    }
}

.member-profiles {
    width: 77%;
    height: 100vh;
    background: #fff;
    right: 0;
    position: fixed;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    .about-member {
        padding-top: 20px;
        padding-bottom: 40px;
        background: #eaf0f3;
        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    h2 {
        font-size: 35px;
    }
    h4 {
        font-size: 18px;
        margin-top: 20px;
        font-weight: 400;
    }
    .about-links {
        font-size: 16px;
        margin-top: 10px;
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    @include fadein;
}

.display-true {
    animation-name: fadein;
    animation-duration: 0.2s;
}

.display-false {
    display: none;
    animation-name: fadeout;
    animation-duration: 0.2s;
}