$babypink: rgb(240, 178, 178);
$blue: #355070;
$violet: #6D597A;
$rose: #B56576;
$pink: #E56B6F;
$tumbleweed: #EAAC8B;
$pine: #5AAA95;
$asparagus: #86A873;

.calendar-container {
    width: 75vw;
    height: 80vh;
    text-align: center;
    border: 1px solid #eeeeee;
}

.calendar-month {
   height: 40px;
   text-align: left;
   font-size: 30px;
   padding-left: 20px;
   line-height: 55px;
   letter-spacing: 2px;
}

.day-block {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;


}

.day-block::-webkit-scrollbar {
    display: none;
}

.weekday {
    background-color: #eeeeee;
    line-height: 30px;
}

.day {
    margin: auto;
    width: 140px;
    height: 90px;
    padding: 10px;

        &:hover {
        background: rgba(181, 101, 118, 0.355);
    }
}

.current-day {
    width: 140px;
    height: 90px;
    background-color: rgba(181, 101, 118, 0.704);
}

.calendar-med {
    font-size: small;
    line-height: 15px;
}

.calendar-med-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: left
}

.past-day {
    background-color: rgb(244, 244, 244);
}