.calendar-container {
    width: 75vw;
    height: 80vh;
    text-align: center;
    border: 1px solid #eeeeee;
}

.calendar-month {
   height: 40px;
   text-align: left;
   font-size: 30px;
   padding-left: 20px;
   line-height: 55px;
   letter-spacing: 2px;
}

.day-block {
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin: 10px 0 0 10px;
    width: 140px;
    height: 90px;
    &:hover {
        background: #eee;
    }
    overflow-y: scroll;
    scrollbar-width: none;

}

.weekday {
    
    background-color: #eeeeee;
    line-height: 30px;
}

.day {
    margin: auto;
    padding: 0%;
    width: 140px;
    height: 90px;
    
}

.day.current-day {
    background-color: rgb(240, 178, 178);
}

.calendar-med {
    font-size: small;
}

.calendar-med-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: left
}
