.calendar-container {
    width: 75vw;
    height: 80vh;
    text-align: center;
    border: 1px solid #eeeeee;
}

.calendar-month {
   height: 40px;
   text-align: left;
   font-size: 30px;
   padding-left: 20px;
   line-height: 55px;
   letter-spacing: 2px;
}

.day-block {
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin: 10px 0 0 10px;
    width: 140px;
    height: 90px;
    &:hover {
        background: #eee;
    }
}

.weekday {
    background-color: #eeeeee;
    line-height: 30px;
}

.current-day {
    background-color: rgb(240, 178, 178);
}