.medication-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2em;
    overflow: scroll;
    .medication {
        display: grid;
        grid-template-columns: 1fr;
        padding-right: 20px;
        text-align: center;
        .medication-name {
            font-size: 20px;
        }
        input {
            border: none;
            background: $color;
            margin: 0 auto;
            margin-top: 10px;
            color: #fff;
            font-family: $font;
            text-transform: uppercase;
            width: 200px;
            height: 28px;
        }
    }
}