.medication-list-container {
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.medication-list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2em;
    .medication {
        display: grid;
        grid-template-columns: 1fr;
        padding-right: 20px;
        text-align: center;
        .medication-name {
            font-size: 20px;
            &:hover {
                cursor: pointer;
            }
        }
        input {
            border: none;
            background: $color;
            margin: 0 auto;
            margin-top: 10px;
            color: #fff;
            font-family: $font;
            text-transform: uppercase;
            width: 200px;
            height: 28px;
            cursor: pointer;
        }
    }
}