.drug-info-modalbg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.drug-info-modalc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 500px;
    width: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
}