.drug-info-modalbg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.drug-info-modalc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: fit-content;
    width: 380px;
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 24px;
    padding: 40px 40px 40px 40px;
    line-height: 23px;
}

.close-modal-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 10px 20px 20px 20px;
}

.close-modal-btn:hover {
    cursor: pointer;
}

.drug-info-brand {
    font-size: 24px;
    border-bottom: 2px solid rgb(53, 80, 112);
    color: black;
    margin: 0px 0px 20px 0px;
}