.modal-container {
    width: 80%;
    text-align: center;
    h1 {
        text-align: left;
    }

    .add-med-header {
        font-size: 30px;
    }

    input {
        width: 100%;
        height: 30px;
        border: 1px solid #aeaeae;
        border-radius: 5px;
    }
}

.search-container {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 5px 8px rgba(0, 0, 0, 0.2);
}