.modal-container {
    width: 100%;
    @include flex-centered-column;

    .add-med-header {
        align-self: flex-start;
        padding-left: 20px;
        font-size: 30px;
    }
    .modal-form {
        padding: 0 20px;
        h1 {
            text-align: left;
        }

        .wrapper {
            width: 100%;
            .search-container {
                background: none;
                border-radius: 5px;
                box-shadow: none;
                width: 100%;
                position: relative;
            }
        }
    
    
        input {
            width: 360px;
            height: 30px;
            border: 1px solid #aeaeae;
            border-radius: 5px;
        }

        .submit-form-button {
            border: none;
            background: $color;
            color: #fff;
            font-family: $font;
            font-size: 15px;
            margin-top: 10px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}

.search-result {
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 18px;
    overflow: auto;
    &:hover {
        cursor: pointer;
    }
}

.display-none {
    display: none;
}